<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/colour.png">
    <link rel="stylesheet" href="/css/style2.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>COLOR MANIA | Forget Password</title>
</head>
<body>
    <div class="wrapper">
        <form action="/user/changepassword?_method=PATCH" method="post">
            <h1>Update Password</h1>
            <div class="input-box">
                <input type="text" placeholder="Email id"  name="email" required>
                <i class="bx bxs-user"></i>
            </div>
            <div class="input-box">
                <input type="password" placeholder="New password" id="password" name="password" required>
                <i class="bx bxs-lock-alt" id="eyeicon"></i>
            </div>
            <div class="input-box">
                <input type="password" placeholder="Confirm password" id="confirm" name="confirmpass" required>
                <i class="bx bxs-lock-alt" id="eyeicon2"></i>
            </div>

            <button type="submit" class="btn">submit</button>
        </form>
    </div>
<script type="text/javascript" src="/js/script2.js"></script>
</body>
</html>