<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COLOR MANIA | SignUp</title>
    <link rel="stylesheet" href="/css/style2.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="wrapper">
        <form action="/" method="post">
            <h1>SignUp</h1>
            <div class="input-box">
                <input type="text" placeholder="Email id"  name="email" required>
                <i class="bx bxs-user"></i>
            </div>
            <div class="input-box">
                <input type="password" placeholder="Password" id="password" name="password" required>
                <i class="bx bxs-lock-alt" id="eyeicon"></i>
            </div>

            <button type="submit" class="btn">sign up</button>
        </form>
    </div>
<script type="text/javascript" src="/js/script2.js"></script>
</body>
</html>